#weather-container {
	cursor: default;
	padding: 50px 5px 0 5px;
	text-align: center;
}
body.standalone #weather-container {
	padding-top: 135px;
}
#weather-container h2, #weather-container h3 {
	font-family: "Helvetica Neue Light", "source-sans-pro", sans-serif;
	font-weight: 200;
}
body.standalone #weather-container h2,
body.standalone #weather-container h3,
body.standalone #search-container #location-input,
body.standalone #autocomplete-container > ul > li > a {
	/*font-family: inherit;*/
}
#weather-container h3 {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	margin-bottom: 0;
}
#search-container {
	text-align: center;
	padding-top: 30px;
}
#search-container #location-input, #autocomplete-container > ul {
	border: 1px solid #000;
	border-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	width: 400px;
	max-width: 90%;
}
#search-container #location-input {
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	font-family: "source-sans-pro", sans-serif;
	font-weight: 300;
	opacity: 0;
	padding: 5px;
	text-align: center;
}
#search-container #location-input:focus, #autocomplete-container > ul {
	outline: none;
	border: 1px solid #47B5D5;
}
body.autocomplete-active #search-container #location-input {
	border-bottom-style: dashed;
}

#autocomplete-container {
	display: none;
}
#autocomplete-container #loading {
	padding: 10px;
}
#autocomplete-container > ul {
	border-top: 0;
	list-style: none;
	margin: 0 auto;
	padding: 5px;
}
#autocomplete-container > ul > li > a {
	color: #47B5D5;
	display: block;
	font-family: "source-sans-pro", sans-serif;
	font-weight: 300;
}
#autocomplete-container > ul > li > a:hover {
	color: #47B5D5;
	text-decoration: none;
}
#autocomplete-container > ul > li.selected {
	background: #d5d5d5;
}
body.autocomplete-active #autocomplete-container {
	display: block;
}



